 {% extends "shop/base.html" %}

 {%block title %} About Us {% endblock %}

 
 {% block css %} 
 {% comment %} body {
  background-color: blue;
  } {% endcomment %}

 {% endblock %}


 {% block body %} 
 
 <h2 class="m-3 text-center">About Us</h2>
 <p class="m-20">
   Build websites with a drag-and-drop interface. Content automatically optimises
  for device. Everything you need to get anything done, now in one place: introducing 
  Google Workspace. Embed HTML and JavaScript. Embed Websites as iframes. 
  Flexible Payment Plans. Embed Maps, Videos & More.
 </p>
 
 {% endblock %}
 {% load static %}